// scss-lint: disable all

* {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-main;
}

html {
  font-family: $font-main;
  font-size: $font-size-16;
}

body {
  font-family: $font-main;
  color: $primary;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
  /* scss에서 &는 '동시에'를 뜻한다. 즉 여기서는
	버튼,인풋,셀렉트,텍스트에어리어면서 동시에 포커스된 상태를 뜻함. */
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}
